*{
    margin: 0px;
     padding:0px;
     
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color:black; 
    color:white;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    width: 100vw;
}