*{
    margin: 0px;
     padding:0px;
     
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color:black; 
    color:white;
    font-family: sans-serif;
    box-sizing: border-box;
}
.navebar {
    margin: 2% 2% 0% 0%;
    display: flex;
    gap: 5%;   
    box-sizing: border-box;
}
.fundodosite{
    background-color:gray;
    color: white;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 1% 2% 0% 1%;
    display: flex;

}
body{
    width: 100vw;
}