*{
    margin: 0px;
     padding:0px;
     
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color:black; 
    color:white;
    font-family: sans-serif;
    box-sizing: border-box;
}
.navebar {
    margin: 2% 2% 0% 0%;
    display: flex;
    gap: 5%;   
    box-sizing: border-box;
}
.fundodosite{
    background-color: grey;
    width: 100%;
    height: auto;
    color: black;
    padding: 5% 0% 5% 0%;
    display: flex;
    justify-content: center;
}
.descricao-do-desenho{
    background-color: aqua;
    width: 30vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 10px 0px 10px;
}
.desenho{
width: 80%;
display: flex;
justify-content: center;
flex-direction: column;
}
.desenho figcaption{
    align-self:flex-start
}
.desenho img{
    width: 100%;
    height: auto;
}
.rodape{
    background-color: yellow;
    color: black;
    padding: 5% 0% 5% 0%;
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: center;
}
.rodape p{
    width: 80%;
}